@font-face {
  font-family: 'Poppins Semibold';
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

* {
  border: 2px;
  color: black;
}


.App {
  background-color: black;
}

/* Sign In Style */

.Auth-form-container {
  background: url(./assets/images/ic_background_img.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  font-family: 'Poppins Semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 1em;
  color: #393939;
}

.btn-primary {
  background: #4E96E5;
  border-radius: 29px;
}

.btn-secondary {
  background: white;
  border-radius: 5px;
  color: black;
  border-color: #4E96E5;
}

label {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

#inputNeeded {
  color: red;
}
/* End Sign In Style */

/* Register Style */
a, u, b {
  text-decoration: none;
  color: #4E96E5;
}

#submitButtonContainer {
    padding: 0px;
    gap: 32px;
    width: 300px;
    height: 116px;
}

#footer {
  color: #8897A8;
}

h3 {
  font-family: 'Poppins Semibold';
}

#containerHeading {
  font-family: 'Poppins regular';
}

/* End Style Register */

/* Booking Style */
header {
  background-color: rgb(250, 250, 250);
  
}

#formBooking {
  background-color: rgb(250, 250, 250);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#userName {
  color: white;
}

#textSecondary {
  color: #8897A8;
}

#containerButtonBooking {
  background-color: #cddff2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}